
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-card *ngFor="let s of cards;let i=index" [cardData]="s" (fromFiglioEvnt)="fromFiglioEvntHandlr($event)">
  </app-card>

  <app-card></app-card>
  
  <h3>Stato delle carte</h3>
  Lo stato delle carte è il seguente
  
  <ul>
    <li *ngFor="let s of cards;let i=index"> lo stato della carta numero {{s.cardID}} è {{s.status}} </li>
  </ul>

  <script>
    
  </script>


</body>
</html>

